

.wrapper-input {
    display: block;
    width: 500px;
    margin: 20px auto;
    border: 1px solid gray;
    border-radius: 5px;
}
.wrapper-input form {
    margin: 0;
    padding: 10px;
}

.wrapper-input form label {
    float: left;
    margin-bottom: 5px;
    
}
.wrapper-input form button {
    float: right;
}
/* .wrapper-input form button::after {
    content: "";
    clear: both;
} */
#input-post {
    display: block;
    clear: both;
}

.container-posts *{
    list-style-type: none;
}

.container-posts {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.container-posts > ul {
    padding: 0 5px;
}

.outer-post {
    margin: 15px 0 5px 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-size: .95em;

}
.comment-list {
    font-size: .85em;
}

.comment-list li {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}